body {
  display: block;
  justify-content: center;
  margin-top: 40px;
  margin: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  text-align: center;
  width: auto;
  margin: 0 auto;
}

/* Immagine logo */

#logocontainer {
  text-align: center;
}
#logocontainer img {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Scritta sotto logo */

#headerbox {
  background-color: rgb(252, 241, 225);
  border-top-color: 20px;
  border-top: rgb(244, 204, 152);
  padding: 5px;
}

#sottotitolo {
  color: rgb(1, 95, 95);
}
#secondtitle {
  text-align: center;
}
#featured {
  text-align: left;
}

#featuredin {
  color: #b54711;
}
#process {
  text-align: left;
}
/*Foto Focaccia e ref.*/

#focaccia {
  border-radius: 20px;
  box-shadow: 10px, 10px, 20px;
}

figcaption {
  color: #9a9a9a;
}

/*link featured*/
.link {
  color: #0b7575;
  text-decoration: none;
}

/*liste*/

ul li {
  margin-bottom: 5px;
}

ol li {
  margin-bottom: 5px;
}

#listafocaccia {
  margin-bottom: 10px; /* Adjust the value as needed */
}

#listatopping {
  margin-bottom: 10px; /* Adjust the value as needed */
}
